/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


table{
	position: relative;
	
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

*{
    box-sizing: border-box;

}

*{
	
	padding:0;
	margin:0;
	
}

/***** Top menu *****/

header {
    padding-top: 71px;
}

.fixed-top{
	background-color: #fff;
	-webkit-box-shadow: 0 0 1.6375rem 0.3625rem rgba(13, 13, 13, 0.25);
    box-shadow: 0 0 1.6375rem 0.3625rem rgba(13, 13, 13, 0.25);
}

.navbar-brand{
	
	max-width: 250px;
	
}

.navbar-brand img{
	
	width: 100%;
	
}

.bg-dark {
    background-color: transparent!Important;
}


/*
.nav-item {
    padding: 4px 0;
    border-bottom: 1px solid #e4e4e4;
}
*/

.nav-item {
    padding: 8px 0;
    border-bottom: 1px solid #e4e4e4;
}

.navbar-nav .nav-item:last-child{
	
	border:none;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}


.why-us{
	position: relative;
	padding: 70px 0;
	background-image: url(../image/blue-plane.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center; 
	
}

.why-us h2{ color: #fff;position: relative;}

.why-us li{
	color: #fff;
	padding: 20px 0;
	font-weight: 500;
	 font-size: 1.2rem;
}


.our-team{
	
	padding-top: 65px;
	padding-bottom: 85px;
	
}

.profile-cont{
	height: 350px;
	position: relative;
	transition: all .3s;
}

.profile-img{
	position: relative;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 2px;
}

.profile-cont .content{
	position: absolute;
	bottom: 20px;
	left: 20px;
	transition: all .7s;
}

.profile-cont .content p{
	color: #fff;
    margin-bottom: 1px;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.profile-cont .content p:last-child{
	font-size: .97rem;
	font-weight: 100;
}


.profile-img .overlay{
	
	background-color: rgba(0, 0, 0, 0.5);
	
}

.profile-cont:hover .content{
	
    bottom: 40px;
}

.profile-cont:hover .overlay{
	
    background-color: rgba(0, 0, 0, 0.4);
}


@media (max-width: 390px){
	.navbar-brand {
    max-width: 180px;
}
	
}


.navbar-nav {
    text-align: center;
    background: #ffffff;
    position: relative;
    z-index: 1;
}

/* fonts */

h1{
	
	font-family: 'Roboto', sans-serif;
	
}

 h2,h3,h4,h5,h6,span{
	
	font-family: 'Roboto', sans-serif;
	 font-weight: 300;
	     color: rgba(45,47,51,1);
}

p, a, li,button,input,label,legend,th,tr{

	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: rgba(45,47,51,1);
}


h2{
	
	    font-size: 2.3rem;
	line-height: 1.4;
    margin-bottom: 30px;
}

h5{
	font-size: 1.7rem;
	
}

p{
	line-height: 1.7;
    font-size: 1.1rem;
	margin-bottom: 30px;
	color: rgba(58,61,70,1);
}




/***************/


body{
	
   background: #fff;
}

table{
	
 overflow-y: auto;
	
}

strong{
	
	font-weight: bold;
}

	.banner-home h1{
	    color: #ececec;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 10px;
		
	}



.small-intro {
    font-size: 1.9rem;
    line-height: 1.2;
    margin-bottom: 32px;
    color: #fff;
}

.banner-about h1{
	
	color: #fff;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 1px;
	
}

.blue-row img{
	
	width:100%;
	
}

.news{
	
	padding-top: 50px;
    padding-bottom: 90px;
	
}

.careers{
	  padding: 120px 0 120px;
	background: url(../image/pandu-agus-wismoyo-196366.jpg) center bottom no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
	
}

.ab-int{
	
	padding: 50px 0;
}

.testi{
	background-color: #f1f2f4;
	 width: 100%;
    height: 100%;
   padding: 50px 0 75px;
	
}

.testi .container{
    position: relative;
    z-index: 32;
}

.testimonial-text p{
	
	color: #444444;
    line-height: 1.4;
    font-size: 1.5rem;
    text-align: left;
	
}

@media (min-width: 576px){
	
		.hid-img{
            display: none;
		}
	
	
}

@media (min-width: 768px){
	
		.small-intro {
    font-size: 3rem;
	}
	
	.why-us .row i{
	 margin-right: 15px;
	padding: 20px;
	font-size: 25px;
}
	
	.why-us li {
    font-size: 1.3rem;
}
	
	
}



@media (min-width: 992px){
	
	.careers{    padding: 130px 0 10px;}
	
	.small-intro {
       font-size: 3.5rem;
}
	
	.news > section{
		
		 position: relative;
  		  z-index: 32;    
	}
	
	.serv-cont{
 		padding: 70px 0 0;
	}
	
	.hid-img{
            display: block;
			width: 95%!important;
			position: absolute;
			top: 106px;
			z-index: 1;
			right: -2px;
		}
	
	
}

@media (min-width: 1200px){



}
	

.header{

	    position: relative;
}




.logo-cont{
	
	    display: flex;
    align-items: center;
	
}

.logo img{
	
	width: 50%;
    height: auto;
    top: 0;
	
}


.main{
	
    min-height: 400px;
	
}



.section-2-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    height: 30vh;
    width: 100%;
}

/* top bar */

#top-bar {
    width: 100%;
    height: 32px;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#top-bar-right{
	
	    margin-right: 2.5%;
	
}



#top-bar-left{
	
	margin-left: 2.5%;
}

.top-bar-text {
    display: inline-block;
	font-size: .7rem;
    color: white;
    padding: 0 5px;
    vertical-align: middle; 
	text-transform: uppercase;
}


.banner-home{

         height: 60vh;
    background: url(../image/turbine-2.png);
	background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
}


.intro{
	
	flex-direction: column;
    align-content: center;
    display: flex;
    justify-content: center;
	 padding: 70px 10px;
}

.intro h2{
	
	       font-size: 1.8rem;
    margin-bottom: 20px;
	
}

.intro p{
	
	 font-size: 1.1rem;
    line-height: 1.5;

	
}

.int-img{
	
	width: 404px;
	
}


.split-sect{
	
	background: #000000;
    padding: 23px;
    text-align: center;
    color: white;
    font-size: 19px;
	
}


.triangle {
    width: 217px;
    height: 400px;
    border-top: 1101px solid #000000ad;
    border-left: 904px solid #82828200;
    margin-top: -334px;
    margin-left: -310px;
    position: relative;
    z-index: -1;
}

.we-are{position: relative;}
/*
.we-are:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -61px;
    width: 100%;
    height: 68px;
    background: #fff;
 
}*/

.fuel-serv, .line-serv{
	
	position: relative;
}

.fuel-serv i{
	
	font-size: 30px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    padding: 20px;
    border-radius: 100%;
    color: #ffa302bf;
	
}

.line-serv i{
	
	font-size: 30px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: #f4f4f4;
    padding: 20px;
    border-radius: 100%;
    color: #15a3de;
	
}

.line-serv h2, .fuel-serv h2{
	
	margin-bottom: 20px;
    line-height: 1.3;
    font-size: 2.2em;
	
}

.cnt-ph .fa-phone{
	
	transform: rotate(90deg);
	
}

.cnt-ph , .cnt-eml{
	
	text-align: left;
}

.cnt-ph p:first-child , .cnt-eml p:first-child{
	
	font-size: 1.4rem;
	margin-bottom: 10px;
}

.cnt-ph .fa-phone, .cnt-eml .fa-envelope{ 
	color: #3e6f8c;
	margin-right: 10px;
	font-size: 1.2rem;
}

.head-off{
	
	background-color: #f1f2f4;
	padding: 30px;
	text-align: center
}

.int-off{
	padding-top: 60px;
	padding-bottom: 80px;
}

.int-cont{
	background-color: #f1f2f4;
	    padding: 35px 20px;
}

.int-cont h3{
	margin-bottom: 20px;
	font-size: 1.3em;
}

.int-cont li{
	font-size: .95em;
	margin-bottom: 8px;
}

.head-off p:first-child{
	
	font-size: 1.4em;
	
}

.head-off p:not(:first-child){
	
	margin-bottom: 10px;
	
}


.group-img{
	
	padding: 250px 0;
	background-image: url(../image/workplace-1245776_1920.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}

.pb-sect{
	
	background-color: #f1f2f4;
}

.pb-sect, .cult-sect, .join-sect{
	
	padding: 60px 0 ; 
	
}

.pb-sect .row div{
	
	    overflow: hidden;
	
}

.pb-sect .row p:first-child{
	
	font-size: 1.4rem;
	margin-bottom: 10px;
}

.pb-sect .row i{
	margin-top:10px;
	margin-right: 20px;
	font-size: 1.3rem;
	float: left;
}

/* footer */

footer{
  	display: flex;
    align-items: center;
    min-height: 258px;
    padding: 40px 40px 32px;
    overflow: hidden;
    color: #ffff;
    background: #1b2429	
	
} 

.why-us .row i {
    margin-right: 13px;
    background: #fff;
    padding: 13px;
    border-radius: 100%;
    color: #3e6f8c;
    font-size: 19px;
}

.approvals{
	
	padding: 70px 0;
	
}

.app-r{
	
	padding: 0 0 70px 0;
	
}

.approvals a{
	
		display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
	font-size: 1.3rem;
}

.approvals a:hover{
	
	color: inherit;
	
}

.approvals a:hover img{
	
	border: 1px solid #3163ad;
	
}

.approvals img{
	width: 40%;
	    border-radius: 3px;
	display: block;
    margin-top: 15px;
	-webkit-transition: all 0.10s ease-out 0s;
    transition: all 0.10s ease-out 0s;
}

footer .row{
	
	justify-content: space-between;
}

.foot-li h3{
	color: #fff;
	font-size: 1.3rem;
    display: block;
    letter-spacing: .1em;
    line-height: normal;
    margin-bottom: 10px;
	
}

.foot-li li{
	color: #fff;
	font-size: 1rem;
    height: 26px;
    line-height: 32px;
}

.foot-li li:first-child{
	
	margin-bottom: 5px;
	
}

.social-list li{
	
	display: inline-block;
	 margin-left: 20px;
}


.social-list li i{
	color: #fff;
	font-size: 1.6rem;
}


.services > div{
	
	margin-bottom: 25px;
	
}


.news .card-title {
    color: hsl(0, 0%, 61%);
    font-size: 1.3rem;
    line-height: 1.3;
    font-weight: 400;
    margin-bottom: 6rem;
}

.news .far {
    font-weight: 400;
    font-size: 20px;
}

.testimonial-title__icon{
	
	    position: absolute;
    bottom: 22px;
	
}

.news .card:hover  {

	border-color: #255672c4;
}

.news .card:hover  .card-title {
    color: #255672c4;
	border-color: #255672c4;
}



.overlay {
    position: absolute;
    background: #3e6f8c;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    mix-blend-mode: multiply;
}
	
	.int{
		
		position: relative;
		
	}
	
	.int:before {
   content: '';
    position: absolute;
    left: 0;
    top: -27px;
    width: 100%;
    height: 57px;
    background: #fff;
    -webkit-transform: skewY(-2.20deg);
    -moz-transform: skewY(-2.20deg);
    -ms-transform: skewY(-2.20deg);
    -o-transform: skewY(-2.20deg);
    transform: skewY(-2.20deg);
    -webkit-backface-visibility: hidden;
}
		
	.careers{
		
		position: relative;
	}
	
	
		.careers:before {
      content: '';
    position: absolute;
    left: 0;
    top: -36px;
    width: 100%;
    height: 71px;
    background: #fff;
    -webkit-transform: skewY(-2.7deg);
    -moz-transform: skewY(-2.7deg);
    -ms-transform: skewY(-2.7deg);
    -o-transform: skewY(-2.7deg);
    transform: skewY(-2.7deg);
    -webkit-backface-visibility: hidden;
    z-index: 1;
}

	
.careers:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -36px;
    width: 100%;
    height: 72px;
    background: #fff;
    -webkit-transform: skewY(-2.7deg);
    -moz-transform: skewY(-2.7deg);
    -ms-transform: skewY(-2.7deg);
    -o-transform: skewY(-2.7deg);
    transform: skewY(-2.7deg);
    -webkit-backface-visibility: hidden;
}
	
	
	/* about page */
	
	
	.banner-about {
	position: relative;
     padding: 8.75rem 0;
}

.banner-career {
	background: url(../image/shutterstock_213079702.jpg); 
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.banner-about .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}
	
	.ab-int{
		
		position:relative;
	}	

.ab-int p{
	
	margin-top: 30px;
}

.serv-sect{
    padding-top: 50px;
    padding-bottom: 50px;
}


.services .wrap{
	
		-webkit-box-shadow: 0 0.8125rem 1.3125rem rgba(0, 0, 0, 0.18);
    box-shadow: 0 0.8125rem 1.3125rem rgba(0, 0, 0, 0.18);
	transition: all .15s;
}

.services .wrap:hover {
	
	    -webkit-box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
	    -webkit-transform: translateY(-2px);
    transform: translateY(-3px);
}

.services .wrap:hover .overlay-serv{
	
	    background: rgba(21, 163, 222, .1);
}
	

.services .col-6{
	
	margin-top: -165px;
	
}

.top-img{
	position: relative;
	
}

.overlay-serv {
    position: absolute;
    background: rgba(21, 163, 222, 0.7);
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
	 transition: background 0.5s ease;
}

.overlay-serv2{
	
	 background: #ffa302bf;
	
}

.top-back {
    background-size: cover;
    background-position: center;
    height: 10rem;
    width: 100%;
	background-image: url(../image/shutterstock_294679814.jpg);
}

.sec-topback{
	background-image: url(../image/mechanic-170271_1280.jpg);
	
}

.serv-content{
	
    background-color: #fff;
    height: auto;
	padding: 1.875rem 2.5rem 3.125rem;
	
}

.serv-content .btn{
	
	background: #f1f1f1;
    border: #f1f1f1;
    padding: 11px 30px;
	color: #777;
}

.serv-content .btn:hover{
	background: #3096c1;
    color: #fff!Important;
}

.serv-content .btn-oran:hover{
	background: #ffa302bf;
}

.services .card-title{
	
	font-size:1.5rem;
	margin-bottom: 30px;
}




.news .card-deck .card {
    -webkit-box-shadow: 0 0.3125rem 1.3125rem rgba(0, 0, 0, 0.18);
    box-shadow: 0 0.1125rem 0.6rem rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.44);
	transition: all .3s;
    position: relative;
}


.news .card-deck .card:hover {
   
	   -webkit-box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
	transform: scale(1.05);
}



.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active {
    color: #5380a5;
}


.author-img{
	
	height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    background: #121011;
    padding: 21px;
    position: relative;
    background-image: url(../image/business-1042706_640.jpg);
    background-position: center 4px;
    background-size: cover;
    background-repeat: no-repeat;
	
}

.find-link:after{
	
	    content: "\279C";
	    margin-left: 10px;
	transition: all .2s;
}

.find-link:hover:after{
	
	margin-left: 12px
}



@media (min-width: 992px){
	
	header {
    padding-top: 87px;
}
	
.banner-career {

	background-position: center -480px;
}	
	
.serv-content{
	
    height: 300px;
}	
	
.section-2-banner{

	height: 50vh;

}	
	
	.banner-home{

       height: 115vh;
}

	

	.services .wrap {
    margin-top: -163px!important;
}
	
	.navbar-expand-lg .navbar-nav {

		 background: transparent;
	}
	.nav-item {

    border-bottom:none;

	}
	
	.navbar-expand-lg .navbar-nav .nav-link  {
	color: #000;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
	position: relative;
   }
	
	.navbar-expand-lg .navbar-nav .nav-link span {
 
	color: #000;
    letter-spacing: 1px;
	position: relative;
   }
	
		.navbar-expand-lg .navbar-nav .nav-link span {

		position: relative;
   }
	
	.navbar-expand-lg .navbar-nav .active span {

    	color: #3163ad;

   }
	
	.navbar-expand-lg .navbar-nav .active span:before {

		content: '';
		  position: absolute;
   		 width: 100%;
    	background-color: #3163ad;
        bottom: -35px;
		height: 0.3125rem;
   }
	
	.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link span:before {
          content: '';
		  position: absolute;
   		 width: 100%;
    	background-color: #3163ad;
        bottom: -35px;
		height: 0.3125rem;
   }
	
	
	
}